.projects {
	margin-top: 15%;
	margin-bottom: 15%;

	@media screen and (max-width: 767px) {
		margin-bottom: 20%;
	}

	// .projects__title
	&__title {
		font-size: calc(34px + 106*(100vw - 320px)/1600);
		color: $gray-2;
		padding-bottom: 75px;
		-webkit-text-stroke-color: $gray-1;
		-webkit-text-stroke-width: 0.8px;
		-webkit-text-fill-color: #141414;

		@media screen and (min-width: 2022px) {
			font-size: calc(28px + 85*(100vw - 320px)/1600);
		}

		@media screen and (max-width: 767px) {
			font-size: calc(32px + 106*(100vw - 320px)/1600);
			-webkit-text-stroke-color: initial;
			-webkit-text-fill-color: initial;
			padding-bottom: 50px;
			color: $gray-1;
		}
	}

	// .projects__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}

	// .projects__link
	&__link {
		text-decoration: none;
		font-family: $bely-regular;
		list-style: none;
		font-size: calc(24px + 34*(100vw - 320px)/1600);
		color: $white-1;
		transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1);

		&:hover {
			color: $orange-1;
			letter-spacing: 3px;

			@media screen and (max-width: 767px) {
				letter-spacing: initial;;
			}
		}

		@media screen and (max-width: 767px) {
			font-size: calc(18px + 34*(100vw - 320px)/1600);
		}
	}

	span {
		color: $gray-1;
		font-size: calc(12px + 18*(100vw - 320px)/1600);
		font-family: $azoSans-light;
	}
}